USE [Irish_Transport_And_Commuting]
GO
/****** Object:  StoredProcedure [dbo].[ANNUAL_MODE_COMPARISON]    Script Date: 06/10/2026 14:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ANNUAL_MODE_COMPARISON] 

AS

SELECT 

YEAR,
TRANSPORT_MODE,
SUM(PASSENGER_JOURNEYS) AS TOTAL_JOURNEYS

FROM FACT_PASSENGER_JOURNEYS
WHERE DATASTATUS = 'Available'

GROUP BY YEAR,TRANSPORT_MODE
ORDER BY YEAR,TRANSPORT_MODE;
