USE [Irish_Transport_And_Commuting]
GO
/****** Object:  StoredProcedure [dbo].[AVERAGE_WEEKLY_JOURNEYS]    Script Date: 06/10/2026 14:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AVERAGE_WEEKLY_JOURNEYS]

AS


SELECT 

TRANSPORT_MODE,
WEEK_NUMBER,
AVG(PASSENGER_JOURNEYS) as AVG_WEEKLY_JOURNEYS

FROM fact_passenger_journeys
WHERE datastatus = 'Available'

GROUP BY TRANSPORT_MODE,WEEK_NUMBER