USE [Irish_Transport_And_Commuting]
GO
/****** Object:  StoredProcedure [dbo].[TOTAL_JOURNEYS_BY_TRANSPORT_MODE]    Script Date: 06/10/2026 14:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TOTAL_JOURNEYS_BY_TRANSPORT_MODE] 

AS

SELECT 

TRANSPORT_MODE,
SUM(PASSENGER_JOURNEYS) AS TOTAL_JOURNEYS

FROM FACT_PASSENGER_JOURNEYS
WHERE DATASTATUS = 'Available'

GROUP BY TRANSPORT_MODE
ORDER BY TRANSPORT_MODE;
