USE [Irish_Transport_And_Commuting]
GO
/****** Object:  StoredProcedure [dbo].[TOTAL_JOURNEYS_BY_YEAR]    Script Date: 06/10/2026 14:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TOTAL_JOURNEYS_BY_YEAR] 

AS

SELECT 

YEAR,
SUM(PASSENGER_JOURNEYS) AS TOTAL_JOURNEYS

FROM FACT_PASSENGER_JOURNEYS
WHERE DATASTATUS = 'Available'

GROUP BY YEAR
ORDER BY YEAR;
