USE [Irish_Transport_And_Commuting]
GO
/****** Object:  StoredProcedure [dbo].[YEAR_OVER_YEAR_ANALYSIS]    Script Date: 06/10/2026 14:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[YEAR_OVER_YEAR_ANALYSIS] 

AS


WITH ANNUAL_TOTALS AS
(
SELECT 

YEAR,
TRANSPORT_MODE,
SUM(PASSENGER_JOURNEYS) AS TOTAL_JOURNEYS

FROM FACT_PASSENGER_JOURNEYS
WHERE DATASTATUS = 'Available'

GROUP BY YEAR,TRANSPORT_MODE
)

SELECT 

YEAR,
transport_mode,
TOTAL_JOURNEYS,
LAG(TOTAL_JOURNEYS) OVER (PARTITION BY TRANSPORT_MODE ORDER BY YEAR) AS PREVIOUS_YEARS_JOURNEYS,
LAG(TOTAL_JOURNEYS) OVER (PARTITION BY TRANSPORT_MODE ORDER BY YEAR) -  TOTAL_JOURNEYS AS DIFFERENCE,
ROUND(CAST(TOTAL_JOURNEYS - (LAG(TOTAL_JOURNEYS) OVER (PARTITION BY TRANSPORT_MODE ORDER BY YEAR)) AS FLOAT) / CAST((LAG(TOTAL_JOURNEYS) OVER (PARTITION BY TRANSPORT_MODE ORDER BY YEAR)) AS FLOAT),3) AS DIFFERENCE_PERC


FROM ANNUAL_TOTALS

ORDER BY TRANSPORT_MODE,YEAR